<div>
  <ul>
    <% @jobs.each do |job| %>
      <li>
        <h2>Job Title: <%= link_to  job.title, job_path(job) %> </h2>
        <p> Total Salary: <%= job.total_salary %> <p>
        <p> Languages:
        <% job.languages.each do |lanaguage| %>
          <li>
            <%= language.name_eng %>
          </li>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>



