<h1><%= @job.title %></h1>
<p> Hourly Rate: <%= @job.salary %>.00 </p>
<p> Dates Required: </p>
<% @job.shift_dates.each do |sd| %>
<p><%= sd.start_date.strftime("%d/%b/%Y") %> - <%= sd.end_date.strftime("%d/%b/%Y") %></p>
<% end %>
